/*
  1- General settings
  2- Common Components
  3- sections
    3.1- About
    3.2- Portfolio
    3.3- Service
    3.4- Price
    3.5- Team
    3.6- Contact
    3.7- footer
*/

/* General style  */

:root {
  --main-color: #f1f1f1;
  --sky-color: #5b85da;
  --paragraph-color: #6b8d9b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-family: "Varela Round", sans-serif;
}

/* Common Components  */
/*
    1- container
    2- hover opacity
    3- section header
    4- section padding
    5- hover effect 1 ( top to bottom)
    6- hover effect 2 ( left to right)
 */

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.65);
}

.clearfix {
  clear: both;
}

h1,
h2,
h3,
h4 {
  font-family: "Montserrat", sans-serif;
  text-transform: capitalize;
}

a {
  text-decoration: none;
}

button {
  font-family: inherit;
}

.btn {
  padding: 15px 35px;
  text-align: center;
  border-radius: 3px;
  border-width: 0;
  display: inline-block;
  min-width: 150px;
  font-size: 18px;
  cursor: pointer;
}

.hover-opacity {
  transition: opacity 0.5s;
}

.hover-opacity:hover {
  opacity: 0.8;
}

.section-padding {
  padding-top: 100px;
  padding-bottom: 100px;
}

.section-header {
  text-align: center;
  text-transform: capitalize;
  font-size: 40px;
  position: relative;
  margin-bottom: 100px;
}
.section-header::after {
  content: "";
  height: 4px;
  width: 10%;
  background-color: var(--sky-color);
  display: block;
  position: absolute;
  left: 45%;
  margin-top: 10px;
}
.left-right-fill,
.top-bottom-fill {
  position: relative;
}
.left-right-fill::after {
  width: 0;
  height: 100%;
}
.top-bottom-fill::after {
  height: 0;
  width: 100%;
}
.left-right-fill::after,
.top-bottom-fill::after {
  content: "";
  background-color: #1c1d21;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  transition: all 0.2s;
  z-index: -1;
}
.left-right-fill:hover::after {
  width: 100%;
}

/* Header  */
header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}
.head-content {
  padding-top: 5px;
}
header .logo {
  float: left;
  width: 40%;
}
header .logo img {
  width: 25%;
}
.nav-bar {
  float: right;
  width: 60%;
  list-style: none;
  text-align: right;
}
.nav-bar > li {
  display: inline-block;
}

.nav-bar > li > a {
  display: inline-block;
  text-decoration: none;
  color: var(--main-color, #f1f1f1);
  padding: 20px 0;
  font-weight: 300;
  margin-right: 20px;
}

.nav-bar > li > a::after,
.nav-bar > li > a.active::after {
  content: "";
  width: 0;
  background-color: var(--sky-color);
  height: 2px;
  display: block;
  transition: width 0.3s;
}

.nav-bar > li > a.active::after,
.nav-bar > li > a:hover::after {
  width: 100%;
}

.dropdown {
  position: relative;
}

.dropdown .menu {
  width: 200px;
  position: absolute;
  top: 55px;
  left: -180px;
  background-color: var(--sky-color);
  text-align: left;
  border-radius: 3px;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s all;
}

.dropdown:hover .menu {
  opacity: 100%;
  visibility: visible;
}

.dropdown .menu a {
  display: inline-block;
  color: var(--main-color);
  text-decoration: none;
  padding: 10px 15px;
}

/* Home */
.home {
  height: 100vh;
  background-image: url("../images/background/background1.webp");
  background-size: cover;
  position: relative;
}

.home-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 60%;
}

.home-heading {
  text-transform: uppercase;
  color: var(--main-color);
  font-size: 3.5rem;
}

.home-paragraph {
  color: var(--main-color);
  margin: 20px 0;
  line-height: 25px;
}

.btn-start {
  background-color: var(--main-color);
  margin-right: 10px;
}

.btn-more {
  background-color: var(--sky-color);
  color: var(--main-color);
}

/* About */

.about-item {
  float: left;
  width: 30%;
  padding: 20px;
  text-align: center;
  border: 1px solid lightgrey;
}

.about-item:nth-child(2) {
  margin-left: 5%;
  margin-right: 5%;
}
.about-item i {
  color: var(--sky-color);
  font-size: 40px;
  margin-top: 10px;
}
.about-item .title {
  margin: 20px 0 20px 0;
  font-size: 22px;
}
.about-item:hover .title {
  color: white;
}
.about-item .description {
  color: var(--paragraph-color);
  margin-bottom: 20px;
  line-height: 1.5;
}
.about-item a {
  color: var(--sky-color);
}
/* Portfolio */
.portfolio {
  background-color: #eaeaea;
}
.portfolio-content {
  overflow: hidden;
}
.portfolio-item {
  float: left;
  width: calc(96% / 3);
  position: relative;
  padding: 2.5%;
}
.portfolio-item .layer-card {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.85);
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s;
}
.portfolio-item:hover .layer-card {
  visibility: visible;
  opacity: 1;
}
.portfolio-item .layer-info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.portfolio-item .layer-info .category {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: var(--sky-color);
}
.portfolio-item .layer-info i {
  color: white;
  background-color: var(--sky-color);
  padding: 15px;
}
.portfolio-item .layer-info .title {
  color: white;
  margin: 20px 0 20px 0;
  font-weight: 700;
  text-align: center;
}
.portfolio-item .layer-info .category,
.portfolio-item .layer-info i,
.portfolio-item .layer-info .title {
  position: relative;
  top: 15px;
}

.portfolio-item .layer-info .category {
  transition: all 0.1s;
}
.portfolio-item .layer-info i {
  transition: all 0.2s;
}
.portfolio-item .layer-info .title {
  transition: all 0.3s;
}

.portfolio-item:hover .layer-info .category,
.portfolio-item:hover .layer-info i,
.portfolio-item:hover .layer-info .title {
  top: 0;
}

.portfolio-item:nth-child(3n + 2) {
  margin-left: 2%;
  margin-right: 2%;
}
.portfolio-item img {
  width: 100%;
}
/* Service */
/* Price */
/* Team */
/* Contact */
/* footer */
